.login{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(180deg, rgba(38,81,148,1), rgba(38,81,148,.85));
    display: flex;
    align-items: center;
    justify-content: center;

    &-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background-color: #265194;
        padding: 40px 20px;
        height: 70%;
        min-height: 400px;
        width: 30%;
        min-width: 300px;
        box-shadow: 5px 5px 5px 3px rgba(255, 255, 255, 0.038);
        border-radius: 10px;
        animation-duration: 3s;
        animation-name: bajadainicio;

        h1{
            color: white;
            text-align: center;
            width: 80%;
        }

        .input{
            width: 80%;
            height: 45px;
            border-radius: 10px;
            padding-left: 5px;
            font-size: 18px;
            border: none;

            &:focus{
                border: none;
                outline: none;
            }
        }

        .submit{
            font-size: 18px;
            width: 54%;
            height: 40px;
            border-radius: 10px;
            background-color: rgba(56, 117, 208, 0.856);
            border: none;
            color: white;
            box-shadow: 3px 3px 5px 3px rgba(1,28,71,.2);

            &:hover{
                background-color: #265194;
            }
            &:focus{
                background-color: rgba(42, 109, 209, 0.856);
            }
        }

        .btn-recuContra{
            background-color: transparent;
            border: none;

            &:hover{
                color: #01317e;
                text-decoration: underline;
            }
        }
    }

    @keyframes bajadainicio{
        0% {
            margin-bottom: 100%;
        }
    
        100%{
            margin-bottom: 0%;
        }
    }
}

